// Media Queries
$maxExtraMobile: "(max-width: 575px)";
$minMobile: "(min-width: 576px)";
$maxMobile: "(max-width: 767px)";

// colors
$defaultColor: #91A817;
$flatFFF: #FFF;
$flatEF: #EFEFEF;
$iconColor: #9B9797;
$flat72: #726F6F;
$headerColor: #819515;
$flat89: #898989;
$flatblack: #141212;
$flatblack2: #333;
$whatsapp: #25D366;

// Spcial Colors
$faceColor: #3b5998;
$twitterColor: #1da1f2;
$tubeColor: #cd201f;